nav {
  position: sticky;
  top: 0;
  padding: 0 0 0 50px;
  width: -webkit-fill-available;
  height: 64px;
  background-color: #f8f9fad8;
  backdrop-filter: blur(16px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  border-bottom: 2px solid #e8e8e8;
}
div.logo a {
  text-decoration: none;
  font-size: 44px;
  font-weight: bolder;
  color: #343a40;
}

/* 메뉴바 */
div.menuBar {
  padding: 20px 17px;
  display: inline-block;
}
div.menuBar > a {
  text-decoration: none;
  color: #343a40;
  font-size: 20px;
  font-weight: 700;
  padding: 0 17px;
}
div.menuBar > span {
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 200;
  margin: 0 16px;
}
div.menuBar > a:hover {
  color: #2715c3;
}
