/*@font-face {
    font-family: "SF_HambakSnow";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

.about-container {
    font-family: Arial, sans-serif;
    background-color: #f3e7d4;
    padding: 20px;
  }
  
  .header {
    background-color: #f3e7d4;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .nav-list a.active {
    text-decoration: underline;
  }
  
  .about-main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .about-text {
    max-width: 50%;
  }
  
  .about-title1 {
    font-family: "SF_HambakSnow";
    font-size: 4em;
    color: #a3c3b0;
  }
  .about-title2 {
    font-family: "SF_HambakSnow";
    font-size: 4em;
    color: #000000;
  }
  .about-title1, .about-title2 {
    display: inline;
  }
  
  
  .about-image img {
    max-width: 100%;
    height: auto;
  }
  */
  @font-face {
    font-family: "SF_HambakSnow";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

.about-container {
    font-family: Arial, sans-serif;
    background-color: #f3e7d4;
    padding: 20px;
  }
  

  
  .about-main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .about-text {
    max-width: 50%;
  }
  
  .about-title1 {
    font-family: "SF_HambakSnow";
    font-size: 4em;
    color: #a3c3b0;
  }
  .about-title2 {
    font-family: "SF_HambakSnow";
    font-size: 4em;
    color: #000000;
  }
  .about-title1, .about-title2 {
    display: inline;
  }
  
  
  .about-image img {
    max-width: 100%;
    height: auto;
  }
  