.result-container {
  display: flex;
  background-color: #f5f5f5;
  height: calc(100% - 66px);
}

.image-section {
  flex: 1 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}

.content-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 3em;
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 2em;
  color: #666;
  margin-bottom: 30px;
}

.description {
  font-size: 1.1em;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

.trend-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
}

.trend-button:hover {
  background-color: #333;
}
