@font-face {
  font-family: "SF_HambakSnow";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.first-page {
  font-family: "SF_HambakSnow";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-image: url("https://images.squarespace-cdn.com/content/v1/6581fd2d9a7c875e912e0907/a5f53f79-f8ad-4ad3-941a-d9fcf0df2394/Sleek+Objects+2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.first-logo a {
  color: white;
  text-decoration: none;
  font-size: 196px;
}

.first-button-area {
  margin: 0 50%;
}

.first-button-style {
  font-family: "SF_HambakSnow";
  background-color: transparent;
  padding: 14px 32px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  border-color: white;
  border-style: solid;
  cursor: pointer;
  /* transition: transform 0.3s, background-color 0.3s; */
}

/* .first-button-style:hover {
  transform: scale(1.1);
  background-color: #dcdcdc;
} */
