@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.first-page {
  font-family: "BookkMyungjo-Bd";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-image: url("/src/firstpage-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.first-logo a {
  margin-top: 50px;
  color: white;
  text-decoration: none;
  font-size: 196px;
}

.first-button-style {
  font-family: "BookkMyungjo-Bd";
  background-color: transparent;
  margin: 0 44px;
  padding: 14px 32px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  border-width: thin;
  border-color: white;
  border-style: solid;
  cursor: pointer;
  /* transition: transform 0.3s, background-color 0.3s; */
}

/* .first-button-style:hover {
  transform: scale(1.1);
  background-color: #dcdcdc;
} */

.move-font {
  font-size: 96px;
}
