@import url("./styles/Header.css");
@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Chrome 및 Safari에서 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none; /* Chrome 및 Safari */
}

:root {
  font-family: "BookkMyungjo-Bd";
  --POINT-COLOR: #2715c3;
  --GRAY: #343a40;
  --BLACK: #141617;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
}

body {
  background-color: #f8f9fa;
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
  /* 로그인창움직임방지로 적용했는데 검색창이 이상해져서 각주 */
}

#app {
  padding: 30px;
}

.main-search {
  height: 100%;
  width: 100%;
  position: relative;
  color: white;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

.video-banner {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  /* height: calc(100% - 54px); */
  width: 100%;
}

.search-box {
  height: 20px;
  /* width: 520px; */
  background: white;
  border-radius: 40px;
  padding: 8px 20px 10px 24px;
  border: none;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  width: 500px;
  height: 20px;
  font-family: "BookkMyungjo-Bd";
  padding: 0;
}

.search-btn {
  border: none;
  float: right;
  /* width: 40px;
  height: 100%; */
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-button-area {
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
}

.home-button-style {
  font-family: "BookkMyungjo-Bd";
  background-color: transparent;
  margin: 0 44px;
  padding: 14px 32px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  border-width: thin;
  border-color: white;
  border-style: solid;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.first-page {
  background-image: url("/src/firstpage-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "BookkMyungjo-Bd";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.first-background {
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
}

.move-font {
  font-size: 144px;
  white-space: nowrap;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.first-logo a {
  color: white;
  text-decoration: none;
  font-size: 196px;
}

.first-button-area {
  padding: 0 0 0 0;
}

.first-button-style {
  font-family: "BookkMyungjo-Bd";
  background-color: transparent;
  margin: 0 44px;
  padding: 14px 32px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  border-width: thin;
  border-color: white;
  border-style: solid;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.first-button-style:hover {
  transform: scale(1.1);
}

.Ctg-buttons {
  margin-bottom: 20px;
}

.Ctg-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.Ctg-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.Ctg-grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.login-page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 66px);
  justify-content: center;
  align-items: center;
  padding: 0 64px;
}

.login-float-container {
  padding: 32px 48px 40px 48px;
  border-radius: 16px;
  width: 430px;
  background-color: white;
  white-space: nowrap;

  & h1 {
    text-align: center;
    margin: 0 0 32px 0;
    user-select: none;
    color: #343a40;
  }

  & label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & span {
      font-family: "BookkMyungjo-Bd";
      font-weight: 900;
      display: inline-block;
      width: 32px;
      user-select: none;
    }

    & input {
      transition: all 150ms;
      font-family: "BookkMyungjo-Bd";
      /* width: 240px; */
      font-size: 16px;
      padding: 8px 12px;
      /* border: 2px solid #e8e8e8;
      border-radius: 4px; */
      border: 0;
      background-color: transparent;
      border-bottom: 2px solid #c0c0c0;
      outline: none;

      &:hover {
        border-color: #808080;
      }

      &:focus {
        border-color: var(--BLACK);
        padding: 12px 12px;
      }
    }
  }

  & button {
    font-family: "BookkMyungjo-Bd";
    font-size: 16px;
    height: 48px;
    margin-top: 16px;

    border-radius: 8px;
    font-weight: 900;

    border: 0;
    color: #f8f9fa;
    background-color: #808080;
    transition: all 150ms;
    scale: 1.02;

    &:hover {
      background-color: var(--BLACK);
      scale: 1.045;
    }
  }
}

.additional-links {
  display: flex;
  justify-content: center;
  padding: 20px 20px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
}
