@import url("./styles/layout.css");
@import url("./styles/Header.css");
@import url("./components/MainPage.css");
@font-face {
  font-family: "SF_HambakSnow";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Chrome 및 Safari에서 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none; /* Chrome 및 Safari */
}

:root {
  --POINT-COLOR: #2715c3;
  --GRAY: #343a40;
}

#root {
  height: 100%;
}

.wrap {
  height: 100%;
}

body {
  background-color: #f8f9fa;
  margin: 0;
  font-family: "SF_HambakSnow";
  height: 100%;
}

#app {
  padding: 30px;
}
